<label class="{{if error.email 'error'}}">
    Email
    {{input
    value=model.email
    type="email"
    name="email"
    required=true
    class=error.email:error}}
    {{#if error.email}}
        <small class="error">{{error.email}}</small>
    {{/if}}
</label>


