<label class="{{if error.passwords 'error'}}">
    Password
    {{input
    value=model.password
    type="password"
    name="password"
    aria-label="password"}}
    {{#if error.passwords}}
        <small class="error">{{error.passwords}}</small>
    {{/if}}
</label>
