<label class="{{if error.passwords 'error'}}">
    Confirm Password
    {{input
    class=error.passwords:error
    name="password-verify"
    type="password"
    value=model.passwordVerify}}
    {{#if error.passwords}}
        <small class="error">{{error.passwords}}</small>
    {{/if}}
</label>
