<label {{bind-attr class="error.passwords:error"}}>
    Password Verify
    {{input
    class=error.passwords:error
    name="password-verify"
    type="password"
    value=passwordVerify}}
    {{#if error.passwords}}
        <small class="error">{{error.passwords}}</small>
    {{/if}}
</label>
