<label {{bind-attr class="error.passwords:error"}}>
    Password
    {{input
    value=password
    type="password"
    name="password"
    aria-label="password"}}
    {{#if error.passwords}}
        <small class="error">{{error.passwords}}</small>
    {{/if}}
</label>
