<button id="copy-button"
        class="copy-button button small"
        type="button"
        data-clipboard-text={{text}}
        disabled={{disableCopy}}>
  <i class="{{copyClass}} fa"></i>
  {{copyLabel}}
</button>
