<div class="row">
    <div class="columns">
        <fieldset>
            <legend>Access Code</legend>
            <code class="access-code">{{code}}</code>
        </fieldset>
    </div>
</div>
<div class="row">
    <div class="columns">
      {{copy-button text=code}}
    </div>
</div>
