<ul class="title-area">
    <li class="name">
        <h1>
            <a href="/">
                <i {{bind-attr class="headerIcon :fa :margin-right-5"}}></i>
                <span>Ayne</span>
            </a>
        </h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
</ul>
