@import 'core/styles/common';
@import 'core/styles/off-canvas';
@import 'core/styles/query-input';
@import 'hljs-foundation';
@import 'pluglist';

.reveal-modal {
    background-color: rgba($primary-color-lighten-5, 0.93);
    overflow-y: scroll;

    .close-reveal-modal {
        color: $secondary-color-darken-3;
        float: right;
        font-size: 1.7rem;
        font-weight: normal;
        position: inherit;
    }

    .title {
        border-bottom: 1px solid $secondary-color-lighten-1;
        margin-bottom: 30px;
        padding-bottom: 5px;

        .name {
            color: $secondary-color;
        }

        .author {
            text-transform: lowercase;
        }

        h4, h5 {
            display: inline;
        }
    }
}

.readme {
    pre {
        background-color: #f7f7f7;
        border: 0;
        border-radius: 3px;
        display: block;
        font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
        font-size: 85%;
        line-height: 1.45;
        max-width: initial;
        overflow: auto;
        padding: 16px;
        white-space: pre;
        word-wrap: normal;
    }

    code {
        background-color: transparent;
        border: none;
        display: inline;
        font-family: inherit;
        line-height: inherit;
        margin: 0;
        overflow: initial;
        padding: 0;
        word-wrap: normal;
    }
}

.dropdown-menu {
    @include drop-down('textcomplete-item', 'active');
}

.twitter-typeahead {
    width: 100%;

    .tt-menu {
        @include drop-down(
        $item-class: 'tt-suggestion',
        $item-active-class: 'tt-cursor',
        $background-color: rgba($primary-color-lighten-4, 0.9));
        width: 100%;
    }
}

.query-info {
    color: $primary-color-lighten-3;
}

.help-info {
    color: $primary-color-lighten-3;

    i {
        color: $primary-color-lighten-3;
    }
}
