@import 'core/styles/colors';

$primary-color           : color('brown', 'base') !default;
$primary-color-lighten-1 : color('brown', 'lighten-1') !default;
$primary-color-lighten-2 : color('brown', 'lighten-2') !default;
$primary-color-lighten-3 : color('brown', 'lighten-3') !default;
$primary-color-lighten-4 : color('brown', 'lighten-4') !default;
$primary-color-lighten-5 : color('brown', 'lighten-5') !default;
$primary-color-darken-1  : color('brown', 'darken-1') !default;
$primary-color-darken-2  : color('brown', 'darken-2') !default;
$primary-color-darken-3  : color('brown', 'darken-3') !default;
$primary-color-darken-4  : color('brown', 'darken-4') !default;

$secondary-color           : color('blue', 'accent-2') !default;
$secondary-color-lighten-1 : color('blue', 'accent-1') !default;
$secondary-color-darken-1  : color('blue', 'accent-2') !default;
$secondary-color-darken-2  : color('blue', 'accent-3') !default;
$secondary-color-darken-3  : color('blue', 'accent-4') !default;

@import 'core/styles/common';
@import 'core/styles/off-canvas';
@import 'core/styles/query-input';
@import 'hljs-foundation';
@import 'pluglist';
@import 'details-dialog';
@import 'vim-help';

.dropdown-menu {
    @include drop-down('textcomplete-item', 'active');
}

.twitter-typeahead {
    width: 100%;

    .tt-menu {
        @include drop-down(
        $item-class: 'tt-suggestion',
        $item-active-class: 'tt-cursor',
        $background-color: rgba($primary-color-lighten-4, 0.9));
        width: 100%;
    }
}

.query-info {
    color: $primary-color;
    padding: 0 1px;
}

.plug-index {
    h5 {
        padding: 5px 2px;
        background-color: $primary-color-lighten-4;
    }

    .accordion-navigation {
        margin-top: 5px;
    }

    .open, .close {
        float: right;
        margin: 4px 0 0 0;
    }

    .open {
        display: inline;
    }

    .close {
        display: none;
    }

    .active {
        .open {
            display: none;
        }
        .close {
            display: inline;
        }
    }
}
