.plug-list {
    ul {
        list-style-type: none;

        li a:not(.button) {
            display: inline;
            outline: none;
            padding: 0;
        }
    }

    .plug-view {
        margin: 0 15px 15px 0;
        transition: 0.5s;

        .title {
            border-bottom: 1px solid $primary-color-lighten-4;
            margin-bottom: 10px;
        }

        .plug-title {
            display: inline;
            text-transform: capitalize;

            &.has-readme:hover {
                text-shadow: 1px 1px 5px rgba($secondary-color, 0.3);
            }

            a.name {
                color: $secondary-color;

                &:hover {
                    color: $secondary-color-darken-2;
                }
            }
        }

        .github-info {
            display: inline-block;

            .author-url, .html-url {
                color: $secondary-color;

                &:hover {
                    color: $secondary-color-darken-3;
                }
            }
        }

        .description {
            font-size: $large-font-size;
        }

        .created-date {
            display: inline-block;
            float: left;

            .date {
                color: rgba($primary-color, 0.8);
            }
        }

        .latest-commit {
            display: inline-block;
            float: right;

            .date {
                color: $primary-color;
            }
        }

        .certainty {
            color: rgba($primary-color-lighten-4, 0.2);
        }
    }
}
