@import "core/styles/common";
@import "bootstrap-tagsinput";
@import "urlinput";
@import "urlpopup";

.favicon {
    height: 16px;
    border-radius: 100%;
}

.url-list {
    .url-view {
        position: relative;

        .url-title {
            text-transform: capitalize;
            padding: 3px 5px;
        }
    }
}

.bootstrap-tagsinput {
    width: 100%;
    @include form-element();
    @include side-radius($opposite-direction, 0);
    @include side-radius($default-float, 0);

    height: auto;
    min-height: ($input-font-size + ($form-spacing * 1.5) - rem-calc(1));

    &.active {
        border: 1px solid $input-focus-border-color;
        background: none repeat scroll $input-focus-bg-color;
    }

    input {
        display: inline;
        height: ($input-font-size + ($form-spacing * 1.5) - rem-calc(20));
        vertical-align: middle !important;
    }

    .tag {
        padding: 0.25rem 0.5rem 0.3rem 0.5rem;
    }

    .tag [data-role="remove"]:hover {
        color: $alert-color;
        box-shadow: none;
    }
}

.twitter-typeahead {
    .tt-hint {
        display: none !important;
    }

    .tt-dropdown-menu {
        background-color: $input-focus-bg-color;
        color: $body-font-color;
        border: 1px solid $smoke;
        border-radius: 5px;
        font-size: 14px;

        .tt-suggestion {
            padding: 5px 10px;

            &:first-child {
                border-top-right-radius: 5px;
                border-top-left-radius: 5px;
            }

            &:last-child {
                border-bottom-right-radius: 5px;
                border-bottom-left-radius: 5px;
            }

            p {
                margin: 0;
                padding: 0;
            }

            &.tt-cursor {
                background-color: $primary-color;
                color: $white;
            }
        }
    }
}
