@import "core/styles/common";
@import "bootstrap-tagsinput";

.favicon {
    height: 16px;
    border-radius: 100%;
}

.url-list {
    .url-view {
        position: relative;

        .url-title {
            text-transform: capitalize;
            padding: 3px 5px;
        }
    }
}

.url-popup {
    &:before {
        @include css-triangle(6px, $steel, bottom);
        left: 35px;
        position: absolute;
        top: 8px;
    }
    background-color: transparent;
    left: 100px;
    padding: 20px;
    position: absolute;
    top: 15px;
    width: 400px;
    z-index: 1;

    .popup-container {
        background-color: $vapor;
        border: 1px solid $steel;
        padding: 10px;
    }

    .popup-title {
        padding: 5px;
        color: $vapor;
        background-color: $steel;

        h5 {
            color: $vapor;
        }
    }

    .popup-content {
        padding: 5px;

        .url-href {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 100%;
        }
    }

    .action-button {
        background-color: transparent;
        color: $vapor;
        display: inline;
        margin: 0;
        outline: none;
        padding: 0;

        &:disabled {
            background-color: transparent;
            color: $vapor;

            &:hover {
                color: $vapor;
            }
        }
    }

    .edit-button, .copy-url-button {
        &:hover {
            color: $primary-color-light;
        }
    }

    .delete-button {
        &:hover {
            color: $alert-color;
        }
    }
}

.url-input-form {
    margin: 45px 10px 10px 10px;

    .favicon {
        border-radius: 0;
    }

    @mixin input-base {
        background-color: $steel;
        border-color: $oil;
        color: $vapor;
        font-size: 1rem;
        font-weight: normal;
        text-transform: none;

        &:focus, &:hover {
            border-color: $jet;
            background-color: $steel;
            color: $vapor;
        }

        &::selection {
            background-color: $oil;
        }

        &::-moz-selection {
            background-color: $oil;
        }

        &::-webkit-selection {
            background-color: $oil;
        }
    }

    input, textarea {
        @include input-base();
    }

    .postfix {
        background-color: $charcoal;
        border-color: $oil;
        color: $vapor;
        min-width: 16px;
    }

    .button {
        margin: 10px 0;
        background-color: $primary-color-light;

        &:hover, &:focus {
            background-color: darken($primary-color-light, 8);
        }
    }

    .button.secondary {
        background-color: $jumbo;

        &:hover, &:focus {
            background-color: darken($jumbo, 8);
        }
    }

    .bootstrap-tagsinput {
        @include input-base();

        &.active {
            @include input-base();
        }

        .tag {
            background-color: $primary-color-light;
            text-transform: none;
        }
    }

    .twitter-typeahead {
        .tt-dropdown-menu {
            @include input-base();

            .tt-suggestion {
                &.tt-cursor {
                    background-color: $primary-color-light
                    ;
                }
            }
        }
    }
}

.bootstrap-tagsinput {
    width: 100%;
    @include form-element();
    @include side-radius($opposite-direction, 0);
    @include side-radius($default-float, 0);

    height: auto;
    min-height: ($input-font-size + ($form-spacing * 1.5) - rem-calc(1));

    &.active {
        border: 1px solid $input-focus-border-color;
        background: none repeat scroll $input-focus-bg-color;
    }

    input {
        display: inline;
        height: ($input-font-size + ($form-spacing * 1.5) - rem-calc(20));
        vertical-align: middle !important;
    }

    .tag {
        padding: 0.25rem 0.5rem 0.3rem 0.5rem;
    }

    .tag [data-role="remove"]:hover {
        color: $alert-color;
        box-shadow: none;
    }
}

.twitter-typeahead {
    .tt-hint {
        display: none !important;
    }

    .tt-dropdown-menu {
        background-color: $input-focus-bg-color;
        color: $body-font-color;
        border: 1px solid $smoke;
        border-radius: 5px;
        font-size: 14px;

        .tt-suggestion {
            padding: 5px 10px;

            &:first-child {
                border-top-right-radius: 5px;
                border-top-left-radius: 5px;
            }

            &:last-child {
                border-bottom-right-radius: 5px;
                border-bottom-left-radius: 5px;
            }

            p {
                margin: 0;
                padding: 0;
            }

            &.tt-cursor {
                background-color: $primary-color;
                color: $white;
            }
        }
    }
}
