.url-input-form {
    margin: 45px 10px 10px 10px;

    .favicon {
        border-radius: 0;
    }

    input, textarea {
        @include input-base-dark();
    }

    .postfix {
        background-color: $charcoal;
        border-color: $oil;
        color: $vapor;
        min-width: 16px;
    }

    .button {
        margin: 10px 0;
        background-color: $primary-color-light;

        &:hover, &:focus {
            background-color: darken($primary-color-light, 8);
        }
    }

    .button.secondary {
        background-color: $jumbo;

        &:hover, &:focus {
            background-color: darken($jumbo, 8);
        }
    }

    .bootstrap-tagsinput {
        @include input-base-dark();

        &.active {
            @include input-base-dark-focus();
        }

        .tag {
            background-color: $primary-color-light;
            text-transform: none;
        }
    }

    .twitter-typeahead {
        .tt-dropdown-menu {
            @include drop-down-dark();

            .tt-suggestion {
                &.tt-cursor {
                    @include drop-down-item-active-dark();
                }
            }
        }
    }
}
