.url-list {
    ul {
        @include side-nav();

        li a:not(.button) {
            padding: 10px 10px;
            text-shadow: 0 0 5px rgba(96,125,139,0.3);
            border-radius: 2px;
            border: 1px solid scale-color($primary-color-lighten-5, $lightness: -3%);
            outline: none;

            &:hover {
                text-shadow: 0 0 5px rgba(96,125,139,0.6);
            }
        }
    }

    .url-view {
        position: relative;

        .url-title {
            overflow: hidden;
            text-overflow: ellipsis;
            text-transform: capitalize;
            white-space: nowrap;
        }
    }
}

