.url-popup {
    background-color: transparent;
    left: 25px;
    padding: 20px;
    position: absolute;
    top: 15px;
    width: 350px;
    z-index: 1;
    transition: 0.3s cubic-bezier(0.4, 0.2, 0.5, 1.4);
    transform-origin: 35px -8px;

    .tag {
        border-radius: 2px;
    }

    &[hidden] {
        opacity: 0;
        transform: scale(0);
        display: block;
        transition-timing-function: ease;
    }

    &:before {
        @include css-triangle(6px, $ternary-color, bottom);
        left: 35px;
        position: absolute;
        top: 8px;
    }

    .popup-container {
        background: hsla(0, 0%, 100%, 0.9);
        background: linear-gradient(to bottom right, white, hsla(0, 0%, 100%, 0.8));
        box-shadow: 0.05em 0.2em 0.6em rgba(0, 0, 0, 0.2);
        border-radius: 2px;
        border: 1px solid $ternary-color;
        padding: 10px;

        &.edit-on {
            background-color: $body-bg;
        }
    }

    .popup-title {
        @include card-panel($card-padding: 0, $card-bg-color: $secondary-color, $element-top-margin: 0, $element-bottom-margin: 0);
        margin: 5px;

        h5 {
            color: $vapor;
            text-transform: capitalize;
        }

        .action-buttons {
            padding: 10px 10px 0 10px;
        }

        .title {
            padding: 0px 10px 10px 10px;
        }
    }

    .popup-content {
        padding: 5px;

        .url-href {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 100%;
        }

        .url-notes {
            max-height: 300px;
            overflow-y: scroll;
        }
    }

    .edit-button, .copy-url-button, .privacy-button {
        @include transparent-button($body-font-color-reverse, $primary-color);
    }

    .delete-button {
        @include transparent-button($body-font-color-reverse, $alert-color);
    }
}

