.url-popup {
    background-color: transparent;
    left: 25px;
    padding: 20px;
    position: absolute;
    top: 15px;
    width: 400px;
    z-index: 1;
    transition: 0.3s cubic-bezier(0.4, 0.2, 0.5, 1.4);
    transform-origin: 35px -8px;

    &[hidden] {
        opacity: 0;
        transform: scale(0);
        display: block;
        transition-timing-function: ease;
    }

    &:before {
        @include css-triangle(6px, $steel, bottom);
        left: 35px;
        position: absolute;
        top: 8px;
    }

    .popup-container {
        background: hsla(0, 0%, 100%, 0.9);
        background: linear-gradient(to bottom right, white, hsla(0, 0%, 100%, 0.8));
        box-shadow: 0.05em 0.2em 0.6em rgba(0, 0, 0, 0.2);
        border-radius: 2px;
        border: 1px solid $steel;
        padding: 10px;

        &.edit-on {
            background-color: $body-bg;
        }
    }

    .popup-title {
        padding: 5px;
        color: $vapor;
        background-color: $steel;

        h5 {
            color: $vapor;
            text-transform: capitalize;
        }
    }

    .popup-content {
        padding: 5px;

        .url-href {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 100%;
        }
    }

    .action-button {
        background-color: transparent;
        color: $vapor;
        display: inline;
        margin: 0;
        outline: none;
        padding: 0;

        &:disabled {
            background-color: transparent;
            color: $vapor;

            &:hover {
                color: $vapor;
            }
        }
    }

    .edit-button, .copy-url-button {
        &:hover {
            color: $primary-color-light;
        }
    }

    .delete-button {
        &:hover {
            color: $alert-color;
        }
    }
}

