$url-popup-border-color: $secondary-color;

.url-popup {
    background-color: transparent;
    left: 30px;
    padding: 20px;
    position: absolute;
    top: 25px;
    transform-origin: 35px -8px;
    transition: 0.3s cubic-bezier(0.4, 0.2, 0.5, 1.4);
    width: 320px;
    z-index: 1;

    &[hidden] {
        opacity: 0;
        transform: scale(0);
        display: block;
        transition-timing-function: ease;
    }

    &:before {
        @include css-triangle(6px, $url-popup-border-color, bottom);
        left: 35px;
        position: absolute;
        top: 8px;
    }

    .popup-container {
        background: hsla(0, 0%, 100%, 0.9);
        background: linear-gradient(to bottom right, white, hsla(0, 0%, 100%, 0.8));
        border-radius: 2px;
        border: 1px solid $url-popup-border-color;
        box-shadow: 0.05em 0.2em 0.6em rgba(0, 0, 0, 0.2);
        padding: 10px;

        &.edit-on {
            background-color: $body-bg;
        }
    }

    .popup-title {
        @include card-panel($card-padding: 0, $card-bg-color: $primary-color, $element-top-margin: 0, $element-bottom-margin: 0);
        margin: 5px;
        position: relative;

        h5 {
            color: $vapor;
            text-transform: capitalize;
        }

        .click-count {
            bottom: 5px;
            color: $primary-color-lighten-1;
            display: inline-block;
            height: 20px;
            position: absolute;
            right: 5px;
        }

        .action-buttons {
            padding: 10px 10px 0 10px;
        }

        .title {
            padding: 0px 10px 30px 10px;
        }
    }

    .popup-content {
        padding: 5px;

        .url-href {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 100%;
        }

        .url-notes {
            max-height: 300px;
            overflow-y: scroll;
        }
    }

    .edit-button, .copy-url-button, .privacy-button, .original-link {
        @include transparent-button($secondary-color, $secondary-color);
    }

    .delete-button {
        @include transparent-button($alert-color, $alert-color);
        padding: 3px 0;
    }
}

