@import "font-awesome/font-awesome";
@import "core/styles/foundation-settings";
@import "foundation/normalize";
@import "foundation/foundation";

body {
    background-color: $silver;
}

fieldset {
    legend {
        background-color: transparent;

        &.error {
            color: $alert-color;
        }
    }
}
