@import "core/styles/common";

fieldset {
    legend {
        &.error {
            color: $alert-color;
        }

        &.success {
            color: $success-color;
        }

        &.warning {
            color: $warning-color;
        }
    }
}

.sub-nav {
    dd {
        cursor: $cursor-pointer-value;
    }
}

.profile-view {
    max-width: 240px;
    display: inline-block;
    text-align: left;

    .profile-name {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.profile-edit {
    .profile-photo-wrapper {
        padding: 30px 0 0 50px;
        position: relative;
    }

    .profile-photo {
        border-radius: 100%;
        display: inline-block;
        height: 200px;
        width: 200px;
    }
}

