@import "font-awesome/font-awesome";
@import "core/styles/foundation-settings";
@import "foundation/normalize";
@import "foundation/foundation";

fieldset {
    legend {
        background-color: transparent;

        &.error {
            color: $alert-color;
        }
    }
}

.profile-edit {
    .profile-photo-wrapper {
        padding: 30px 0 0 30px;
        position: relative;
    }

    .profile-photo {
        height: 200px;
        width: 200px;
        border-radius: 100%;
        display: inline-block;
    }
}
