<div>
    <dl class="sub-nav">
        {{#link-to 'profile.edit.details' tagName="dd"}}
            <a href={{view.href}}>Details</a>
        {{/link-to}}
        {{#link-to 'profile.edit.password' tagName="dd"}}
            <a href={{view.href}}>Password</a>
        {{/link-to}}
    </dl>
</div>
<form action="" class="profile-edit">
    {{outlet}}
</form>
