<div data-magellan-expedition="">
    <ds class="sub-nav">
        {{#link-to 'profile.edit.details' tagName="dd"}}
            <a {{bind-attr href="view.href"}}>Details</a>
        {{/link-to}}
        {{#link-to 'profile.edit.password' tagName="dd"}}
            <a {{bind-attr href="view.href"}}>Password</a>
        {{/link-to}}
    </ds>
</div>
<form action="" class="profile-edit">
    {{outlet}}
</form>
