head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1")

    //-TODO: get assets host from co,fig
    script(src="#{ayne.assets.host}/assets/auth/js/vendor-all.js")
    script(src="#{ayne.assets.host}/assets/auth/js/app-all.js")

    link(href="#{ayne.assets.host}/assets/auth/css/app.css", rel="stylesheet" type="text/css")
