head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1")

    script(src="#{ayne.assets.host}/auth/js/vendor.js")
    script(src="#{ayne.assets.host}/auth/js/app.js")

    link(href="#{ayne.assets.host}/auth/css/app.css", rel="stylesheet" type="text/css")
