head
    meta(charset="UTF-8")

    //-TODO: get assets host from co,fig
    script(src="//localhost:4200/assets/auth/js/vendor-all.js")
    script(src="//localhost:4200/assets/auth/js/app-all.js")

    link(href="//localhost:4200/assets/auth/css/app.css", rel="stylesheet" type="text/css")
