head
    meta(charset="UTF-8")

    script(src="/vendor/jquery/dist/jquery.js")
    script(src="/vendor/handlebars/handlebars.js")
    script(src="/vendor/ember/ember.js")

    //-TODO: fix the public assets path
    script(src="/public/auth/public/app-combined.js")

    link(href="/vendor/foundation/css/foundation.css", rel="stylesheet", type="text/css")
    link(href="/vendor/foundation/css/normalize.css", rel="stylesheet", type="text/css")
