doctype html
html
    include ./head.jade
    title #{title}
    body
        script.
            window.ayne = !{JSON.stringify(ayne)};
            window.ayne.loggedIn = function() {
                return window.ayne.user && window.ayne.user.id;
            };
