<div class="columns">
    <input type="text" class="query-box" {{bind-attr value=value}}>
    <a href="#" class="input-button search-button" title="Search" {{action "runSearch"}}>
        {{#if pending}}
            <i class="fa fa-fw fa-spin fa-cog"></i>
        {{else}}
            <i class="fa fa-fw fa-search"></i>
        {{/if}}
    </a>
    <a href="#" class="input-button clear-button" title="Clear search" {{action "clearSearch"}}>
        <i class="fa fa-fw fa-close"></i>
    </a>
</div>
