<div class="small-8 columns">
    <input type="text" class="query-input" {{bind-attr value=value}}>
</div>
<div class="small-4 columns">
    <span class="postfix">
        <button class="button small action-button clear-button"
            title="Clear search"
            type="button" {{action "clearSearch"}}>
            <i class="fa fa-fw fa-close"></i>
        </button>
        <button class="button small action-button save-button" 
            title="Save search"
            type="button" {{action "saveSearch"}}>
            <i class="fa fa-fw fa-save"></i>
        </button>
    </span>
</div>
