<div class="small-1 columns">
    <a href="#" class="button prefix radius run-button" title="Search" {{action "runSearch"}}>
        <i class="fa fa-fw fa-search"></i>
    </a>
</div>
<div class="small-9 columns">
    <input type="text" class="query-input" {{bind-attr value=value}}>
</div>
<div class="small-1 columns">
    <a href="#" class="button postfix radius clear-button" title="Clear search" {{action "clearSearch"}}>
        <i class="fa fa-fw fa-eraser"></i>
    </a>
</div>
