<div class="grid-frame">
    <div class="grid-block">
        <div class="grid-content">
            <ul class="side-nav url-list">
                {{#each url in model}}
                    <li class="url-item">
                        {{render 'urlview' url}}
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>
