@import "font-awesome/font-awesome";
@import "core/styles/foundation-settings";
@import "core/styles/mixins";
@import "foundation/normalize";
@import "foundation/foundation";

.acces-code {
    padding: 5px;
}

.copy-button {
    width: 170px;
    outline: none;
}

.profile-photo-small {
    @include profile-photo-small();
}
