@import "core/styles/colors";
@import "core/styles/variables";
@import "core/styles/foundation-settings";
@import "core/styles/vendor-imports";
@import "core/styles/mixins";

@for $i from 1 through 6 {
    .margin-#{$i * 5} { margin: $i * 5px; }
    .margin-top-#{$i * 5} { margin-top: $i * 5px; }
    .margin-right-#{$i * 5} { margin-right: $i * 5px; }
    .margin-left-#{$i * 5} { margin-left: $i * 5px; }
    .margin-bottom-#{$i * 5} { margin-bottom: $i * 5px; }
}

.z-depth-1{
    @include box-shadow-2(0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12));
}
.z-depth-1-half{
    @include box-shadow-2(0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15));
}
.z-depth-2{
    @include box-shadow-2(0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19));
}
.z-depth-3{
    @include box-shadow-2(0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19));
}
.z-depth-4{
    @include box-shadow-2(0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21));
}
.z-depth-5{
    @include box-shadow-2(0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22));
}

.profile-photo-small {
    @include profile-photo-small();
}

.height-full {
    height: 100%;
}

.top-bar-section {
    ul li > a.button {
        @include button-style($bg:$secondary-color);

        &.secondary {
            @include button-style(
            $bg           : $primary-color-lighten-3,
            $bg-hover     : $primary-color-lighten-2,
            $border-color : $primary-color-lighten-2);
        }
    }
}

.button {
    &.secondary {
        @include button-style(
        $bg           : $primary-color-lighten-3,
        $bg-hover     : $primary-color-lighten-2,
        $border-color : $primary-color-lighten-2);
    }
}

textarea {
    resize: none;
}

input[type=checkbox] + label {
    margin: 0;
}

input[type=checkbox]:focus + label {
    box-shadow: 0 0 5px $input-focus-border-color;
}
