@mixin box-shadow-2($args1, $args2) {
    -webkit-box-shadow: $args1, $args2;
    -moz-box-shadow: $args1, $args2;
    box-shadow: $args1, $args2;
}

@mixin profile-photo-small() {
    border-radius: 100%;
    height: 35px;
    position: relative;
    width: 35px;
}

@mixin input-base-dark-focus {
    background-color: $steel;
    border-color: $black;
    color: $white;
}

@mixin input-base-dark {
    background-color: $steel;
    border-color: $oil;
    color: $white;
    font-size: 1rem;
    font-weight: normal;
    text-transform: none;

    @if $input-include-glowing-effect {
        @include block-glowing-effect(focus, $glowing-effect-fade-time, $glowing-effect-color);
    }

    &:focus {
        @include input-base-dark-focus();
    }

    &::selection {
        background-color: $oil;
    }

    &::-moz-selection {
        background-color: $oil;
    }

    &::-webkit-selection {
        background-color: $oil;
    }
}

@mixin drop-down-item-active {
    background-color: $primary-color;
    border: 1px solid $primary-color;
    color: $white;

    a {
        color: $white;
    }
}

@mixin drop-down-item($item-active-class: null, $delete-button: false) {
    $border: 1px solid $primary-color-lighten-3;
    border-left: $border;
    border-right: $border;
    padding: 5px 10px;
    position: relative;

    @if $delete-button {
        padding-right: 40px;

        .button.delete {
            background-color: transparent;
            border: none;
            box-shadow: none;
            color: $alert-color;
            display: block;
            margin: auto;
            padding: 2px;
            position: absolute;
            right: 10px;
            top: 0px;
            bottom: 0px;
            width: auto;
            height: 25px;

            &:hover {
                text-shadow: 0 0 5px $alert-color;
            }
        }
    }

    &:first-child {
        border-top: $border;
        border-top-left-radius: $drop-down-border-radius;
        border-top-right-radius: $drop-down-border-radius;
    }

    &:last-child {
        border-bottom: $border;
        border-bottom-left-radius: $drop-down-border-radius;
        border-bottom-right-radius: $drop-down-border-radius;
    }

    p {
        margin: 0;
        padding: 0;
    }

    @if $item-active-class {
        &.#{$item-active-class} {
            @include drop-down-item-active();
        }
    }
}

@mixin drop-down($item-class: null, $item-active-class: null, $delete-button: false, $background-color: $input-focus-bg-color) {
    background-color: $background-color;
    border-radius: $drop-down-border-radius;
    color: $body-font-color;
    font-size: 14px;
    list-style: none;

    @if $item-class {
        .#{$item-class} {
            @include drop-down-item($item-active-class, $delete-button);
        }
    }
}

@mixin drop-down-item-active-dark {
    background-color: $primary-color-light;
}

@mixin drop-down-item-dark($item-active-class: null) {
    @if $item-active-class {
        &.#{$item-active-class} {
            @include drop-down-item-active-dark();
        }
    }
}

@mixin drop-down-dark($item-class: null, $item-active-class: null) {
    @include drop-down($item-class, $item-active-class);
    @include input-base-dark;

    @if $item-class {
        .#{$item-class} {
            @include drop-down-item-dark($item-active-class);
        }
    }
}

@mixin card-panel($card-padding: 20px, $card-bg-color: #fff, $element-top-margin: 1.5rem/3, $element-bottom-margin: 1rem) {
    margin: $element-top-margin 0 $element-bottom-margin 0;
    padding: $card-padding;
    @include radius(5px);
    @extend .z-depth-1;
    background-color: $card-bg-color;
}

@mixin transparent-button($button-color: $body-font-color, $button-hover-color: $body-font-color) {
    background-color: transparent;
    color: $button-color;
    display: inline;
    margin: 0;
    outline: none;
    padding: 0;

    &:hover, &.zero-clipboard-is-hover {
        color :$button-hover-color;
        text-shadow: 0px 0px 5px $button-hover-color;
    }

    &:active, &.zero-clipboard-is-active {
        color :$button-hover-color;
        text-shadow: 0px 0px 5px $button-hover-color;
    }

    &:disabled {
        background-color: transparent;
        color: $button-color;

        &:hover {
            color: $button-color;
            text-shadow: none;
        }
    }
}
