$primary-color          : color("blue-grey", "base");
$primary-color-light-1  : color("blue-grey", "lighten-1");
$primary-color-light-2  : color("blue-grey", "lighten-2");
$primary-color-light-3  : color("blue-grey", "lighten-3");
$primary-color-light-4  : color("blue-grey", "lighten-4");
$primary-color-light-5  : color("blue-grey", "lighten-5");
$primary-color-darken-1 : color("blue-grey", "darken-1");
$primary-color-darken-2 : color("blue-grey", "darken-2");
$primary-color-darken-3 : color("blue-grey", "darken-3");
$primary-color-darken-4 : color("blue-grey", "darken-4");

$secondary-color           : color("deep-orange", "accent-2");
$secondary-color-lighten-1 : color("deep-orange", "accent-1");
$secondary-color-darken-1  : color("deep-orange", "accent-2");
$secondary-color-darken-2  : color("deep-orange", "accent-3");
$secondary-color-darken-3  : color("deep-orange", "accent-4");

$alert-color     : color("red", "lighten-1");
$info-color      : color("blue-grey", "base");
$success-color   : color("teal", "base");
$warning-color   : color("yellow", "base");

$font-family-sans-serif: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif: Roboto, Georgia, Cambria, Times, serif;
$font-family-monospace: "Roboto", Consolas, "Liberation Mono", Courier, monospace;

$font-weight-normal: normal;
$font-weight-bold: bold;

$body-bg: $primary-color-light-5;
$body-bg-reverse: color("grey", "darken-4");
$body-font-color: color("grey", "darken-4");
$body-font-color-reverse: $primary-color-light-5;
$body-font-family: $font-family-sans-serif;
$body-font-style: normal;
$body-font-weight: $font-weight-normal;
