{{#modal-dialog close='closeModal' size='full'}}
    <h5>
        {{model.name}} ({{model.githubStarCount}} <i class="fa fa-github"></i>)
    </h5>
    <div class="readme">
        {{{view.readme}}}
    </div>
{{/modal-dialog}}
