<div class="row margin-top-30">
    <div class="medium-8 large-6 columns">
        <div>
            {{query-input value=search tags=keywords action="searchPlugs" error=queryError pending=searchPending}}
        </div>
    </div>
</div>
<div class="margin-bottom-30 row">
    <div class="medium-8 large-6 columns">
        <small class="help-info pull-left">
            <span data-tooltip aria-haspopup="true"
                class="has-tip"
                title={{searchHelp}}>
                <i class="fa fa-fw fa-question"></i>
            </span>
        </small>
        <small class="query-info pull-right">{{lastQuery}}</small>
        {{render 'pluglist' model}}
    </div>
</div>
