<div class="row margin-top-30">
  <div class="columns">
    <ul class="tabs" data-tab>
      <li class="tab-title active">
        <a href="#readme">Readme</a>
      </li>
      <li class="tab-title">
        <a href="#help">Help</a>
      </li>
    </ul>

    <div class="tabs-content plugin-info">
      <section id="readme" role="tabpanel" class="content active" aria-hidden="false">
        <div class="readme">{{{model.readme}}}</div>
      </section>
      <section id="help" role="tabpanel" class="content" aria-hidden="true">
        <div class="doc">{{{model.doc}}}</div>
      </section>
    </div>
  </div>
</div>