
{{outlet}}

<ul class="inline-list">
    <li>{{#link-to 'login'}}Login{{/link-to}}</li>
    <li>{{#link-to 'signup'}}Signup{{/link-to}}</li>
    <li>{{#link-to 'account'}}Account{{/link-to}}</li>
    <li>{{#link-to 'profile'}}Profile{{/link-to}}</li>
</ul>

