<form class="inner-wrap">
    <fieldset>
        <legend>Enter your credentials below</legend>
        <div class="row">
            <div class="small-12 medium-6 large-4 columns">
                <input type="text" name="email" aria-label="email" placeholder="Enter your email">
            </div>
        </div>
        <div class="row">
            <div class="small-12 medium-6 large-4 columns">
                <input type="text" name="password" aria-label="password" placeholder="Enter your password">
                <!--<small class="error">Invalid credentials</small>-->
            </div>
        </div>
    </fieldset>
    <fieldset>
        <div class="row">
            <div class="small-12 medium-6 large-4 columns">
                <button class="button small" type="button">
                    <i class="fa fa-sign-in"></i>
                    Login
                </button>
            </div>
        </div>
    </fieldset>
</form>
