doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1")

        link(href="#{ayne.assets.host}/core/css/app.css", rel="stylesheet" type="text/css")
        title OAuth2 Callback
    body
        script(src="#{ayne.assets.host}/core/js/vendor.js")
        script(src="#{ayne.assets.host}/core/js/app.js")
