<nav class="top-bar">
    <ul class="title-area">
        <li class="name">
            <h1>
                <a href="/user">
                    <!-- TODO: show the user icon if logged in -->
                    <i class="fa fa-user"></i>
                    <!--<i class="fa fa-sign-in"></i>-->
                    <!--<i class="fa fa-ban"></i>-->
                    <!--<div class="fa fa-minus-o"></div>-->
                    <!--User-->
                </a>
            </h1>
        </li>
    </ul>
    <section class="top-bar-section">
        <ul class="right">
            <li class="divider"></li>
            <!-- login & signup are available if the user is logged out -->
            <li>
                {{#if loggedIn}}
                    <a href="#" title="Logout" {{action 'logout'}}><i class="fa fa-sign-out"></i></a>
                {{else}}
                    {{#link-to 'login'}}Log In{{/link-to}}
                {{/if}}
            </li>
            <li class="divider"></li>
            <li>{{#link-to 'signup'}}Sign Up{{/link-to}}</li>
            <li class="divider"></li>
            <!-- account & profile are available if the user is logged in -->
            <!-- add a logout button if logged in -->
            <li>{{#link-to 'profile.view'}}Profile{{/link-to}}</li>
            <li class="divider"></li>
            <li>{{#link-to 'profile.edit'}}Account{{/link-to}}</li>
        </ul>
    </section>
</nav>
{{outlet}}
