<div class="reset-password">
    <div class="row margin-top-15">
        <div class="columns">
            <div class="alert-box alert">
                Sorry your token has expired.
                {{#link-to 'forgot'}}Please try resetting your password again.{{/link-to}}
            </div>
        </div>
    </div>
</div>
