<div class="reset-password">
    <div class="row margin-top-15">
        <div class="columns">
            <div class="alert-box success">
                Your password has changed and you're logged in.
            </div>
            <button class="button small" type="button" {{action 'redirectToProfile'}}>
                Continue To Profile
            </button>
        </div>
    </div>
</div>

