<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <script src="/vendor/jquery/dist/jquery.js"></script>
    <script src="/vendor/handlebars/handlebars.js"></script>
    <script src="/vendor/ember/ember.js"></script>

    <script src="/public/auth/app/index.js"></script>

    <link rel="stylesheet" href="/vendor/foundation/css/foundation.css" type="text/css">
    <link rel="stylesheet" href="/vendor/foundation/css/normalize.css" type="text/css">
</head>
<body>
    <script type="text/x-handlebars" id="application">
        {{outlet}}

        <p>
            {{#link-to 'login'}}Login{{/link-to}}
            {{#link-to 'signup'}}Signup{{/link-to}}
        </p>
    </script>

    <script type="text/x-handlebars" id="login">
        LOGIN
    </script>

    <script type="text/x-handlebars" id="signup">
        SIGNUP
    </script>

    <script type="text/x-handlebars" id="error">
        <small class="error" data-error-message>
            <pre>{{message}}</pre>
            <pre>{{stack}}</pre>
        </small>
    </script>
</body>
</html>
