html
    body
        p Somebody asked to reset your password on #{host}
        p If it was not you, you can safely ignore this email
        p Click the following link to choose a new password
        p #{resetUrl}
